<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>RHEL {{ ansible_distribution_major_version }}</title>
</head>

<body>
  <h1>RHEL {{ ansible_distribution_major_version }}</h1>
  <img src="red_fish_{{ ansible_distribution_major_version }}.jpg" alt="red fish" width="100%">
  <p>Public domain image from <a href="https://commons.wikimedia.org/">https://commons.wikimedia.org/</a></p> 
</body>


</html>

